# Análisis EDA

In [2]:
import pandas as pd

In [8]:
data = pd.read_csv('../data/job_descriptions.csv')

# Análisis de características

Tabla caracteristicas

| #  | Column            | Non-Null Count    | Dtype   |
|----|-------------------|-------------------|---------|
| 0  | Job Id            | 1615940 non-null  | int64   |
| 1  | Experience        | 1615940 non-null  | object  |
| 2  | Qualifications    | 1615940 non-null  | object  |
| 3  | Salary Range      | 1615940 non-null  | object  |
| 4  | location          | 1615940 non-null  | object  |
| 5  | Country           | 1615940 non-null  | object  |
| 6  | latitude          | 1615940 non-null  | float64 |
| 7  | longitude         | 1615940 non-null  | float64 |
| 8  | Work Type         | 1615940 non-null  | object  |
| 9  | Company Size      | 1615940 non-null  | int64   |
| 10 | Job Posting Date  | 1615940 non-null  | object  |
| 11 | Preference        | 1615940 non-null  | object  |
| 12 | Contact Person    | 1615940 non-null  | object  |
| 13 | Contact           | 1615940 non-null  | object  |
| 14 | Job Title         | 1615940 non-null  | object  |
| 15 | Role              | 1615940 non-null  | object  |
| 16 | Job Portal        | 1615940 non-null  | object  |
| 17 | Job Description   | 1615940 non-null  | object  |
| 18 | Benefits          | 1615940 non-null  | object  |
| 19 | skills            | 1615940 non-null  | object  |
| 20 | Responsibilities  | 1615940 non-null  | object  |
| 21 | Company           | 1615940 non-null  | object  |
| 22 | Company Profile   | 1610462 non-null  | object  |

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1615940 entries, 0 to 1615939
Data columns (total 23 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Job Id            1615940 non-null  int64
 1   Experience        1615940 non-null  object
 2   Qualifications    1615940 non-null  object
 3   Salary Range      1615940 non-null  object
 4   location          1615940 non-null  object
 5   Country           1615940 non-null  object
 6   latitude          1615940 non-null  float64
 7   longitude         1615940 non-null  float64
 8   Work Type         1615940 non-null  object
 9   Company Size      1615940 non-null  int64
 10  Job Posting Date  1615940 non-null  object
 11  Preference        1615940 non-null  object
 12  Contact Person    1615940 non-null  object
 13  Contact           1615940 non-null  object
 14  Job Title         1615940 non-null  object
 15  Role              1615940 non-null  object
 16  Job Portal        1615940 non-null  object
 17  Job Description   1615940 non-null  object
 18  Benefits          1615940 non-null  object
 19  skills            1615940 non-null  object
 20  Responsibilities  1615940 non-null  object
 21  Company           1615940 non-null  object
 22  Company Profile   1610462 non-null  object
dtypes: float64(2), int64(2), object(19)
memory usage: 283.6+ MB

In [14]:
data.isnull().sum()

Job Id                 0
Experience             0
Qualifications         0
Salary Range           0
location               0
Country                0
latitude               0
longitude              0
Work Type              0
Company Size           0
Job Posting Date       0
Preference             0
Contact Person         0
Contact                0
Job Title              0
Role                   0
Job Portal             0
Job Description        0
Benefits               0
skills                 0
Responsibilities       0
Company                0
Company Profile     5478
dtype: int64